@import "reset.css";

.center {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-container {
    display: grid;
    width: 80vw;
    padding: 20px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    background-color: #132A13;
    color: white;
    text-align: center;
}

#profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
}

@media (min-width:500px) {
    #card-container {
        grid-template-columns: 1fr 1fr;
    }

    #profile-picture {
        grid-column: span 2;
    }
}

@media (min-width:786px) {
    #card-container {
        grid-template-columns: 1fr 1fr;
    }

    #profile-picture {
        grid-row: span 2;
        grid-column: span 1;
    }
}